{% extends 'base.html' %} {% block title %}Welcome{% endblock title %} 

{% block content %}

<div class="row-sm p-sm-5">
    <div class="col-sm-12 p-sm-5">
        <h2> About Project</h2>
        <p>
		Machine learning is everywhere throughout the whole growing and harvesting cycle. It begins with a seed being planted in the soil — from the soil preparation, seeds breeding and water feed measurement — and it ends when robots pick up the harvest determining the ripeness with the help of computer vision.
          </p>
		  <h1>Species Breeding</h1>
<p>Our favorite, this application is so logical and yet so unexpected, because mostly you read about harvest prediction or ambient conditions management at later stages.

Species selection is a tedious process of searching for specific genes that determine the effectiveness of water and nutrients use, adaptation to climate change, disease resistance, as well as nutrients content or a better taste. Machine learning, in particular, deep learning algorithms, take decades of field data to analyze crops performance in various climates and new characteristics developed in the process. Based on this data they can build a probability model that would predict which genes will most likely contribute a beneficial trait to a plant.</p>

<h1>Species Recognition</h1>
<p>While the traditional human approach for plant classification would be to compare color and shape of leaves, machine learning can provide more accurate and faster results analyzing the leaf vein morphology which carries more information about the leaf properties.</p>
    </div>  
</div>


{% endblock content %}